/* Basic styles for the web page */
/* Basic styles for the web page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('images/annie-spratt-zA7I5BtFbvw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  

/* Reset default margin and padding for lists */
ul {
    margin: 0;
    padding: 0;
}

/* General Styles */
h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333;
}

/* Nav Bar Styles */
nav {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

.nav-bar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 600px) {
    .nav-bar {
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center the links */
    }

    .nav-bar a {
        display: block; /* Make links full width */
        text-align: center; /* Center text */
    }
}

/* Flex Container */
.flex-container {
    display: flex;
    background-color: lightblue;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}
